<app-nav-dashboard></app-nav-dashboard>
<br>
<br>
<br>
<br>
<br>



<div class="row">
    <div class="col-4" style="padding-left: 5%;">
        <div class="card" style="width: 20rem; ">
            <img class="card-img-top" src="https://t4.ftcdn.net/jpg/04/83/90/95/360_F_483909569_OI4LKNeFgHwvvVju60fejLd9gj43dIcd.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Welcome Back !</h4>
              <p class="card-text">{{ user.firstName }} {{ user.lastName }}</p>
              <a href="#" class="btn btn-primary">Visit Shop</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 50rem; ">
            <div class="card-header">
                <h3 style="padding: 2%;" class="text-center">Call For action</h3>
            </div>
            <div *ngFor="let demande of demandes">
                <div class="card-body" style="padding: 3%;">
                    <h4 class="card-title"></h4>
                    <div class="row">
                        <div class="col">
                            <p class="card-text text-left">{{ user.Bloodtype }} blood donation at {{ user.firstName }} {{ user.lastName }} hospital</p>

                        </div>
                        <div class="col">                    <p class="card-text text-right">{{ user.ville}}</p>
                            
                        </div>
                        <span class="badge badge-default">Non Urgent</span>
                    </div>

                    <button class="btn btn-danger btn-icon btn-round" type="button">
                        <i class="now-ui-icons arrows-1_minimal-right
                        "></i>
                        </button>&nbsp;&nbsp;
                        <button class="btn btn-default btn-icon btn-round" type="button">
                            <i class="now-ui-icons files_single-copy-04

                            "></i>
                            </button>
                    </div>
                 
                       
                  
                  
            </div>
            
          </div>
    </div>
    
</div>
  
    <footer class="footer footer-default">
    <div class=" container ">
    <nav>
    <ul>
    <li>
    <a href="https://www.creative-tim.com">
    Creative Tim
    </a>
    </li>
    <li>
    <a href="http://presentation.creative-tim.com">
    About Us
    </a>
    </li>
    <li>
    <a href="http://blog.creative-tim.com">
    Blog
    </a>
    </li>
    </ul>
    </nav>
    <div class="copyright" id="copyright">
    © <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>2023, Designed by <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
    </div>
    </div>
    </footer>
   